.hero-section {
  /* top: -100px; */
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 96px 56px;
  position: relative;
  /* background-color: black; */
  /* background-image: radial-gradient(
    ellipse 200% 100% at bottom left,
    #737872,
    #000000 66%
  ); */
}

  /* background-image: linear-gradient(to bottom, #ffffff, #000000); */
  /* -webkit-background-clip: text;
  background-clip: text;
  color: transparent; */

.hero-h1 {
  font-size: 60px;
  line-height: 1;
  font-weight: 500;
  margin-top: 44px;
  text-align: center;
  color: #ffffff;
  z-index: 1;
}

.message {
  top: 170px;
  left: 1px;
  position: absolute;
  height: 200px;
  width: 200px;
  z-index: 0;
}

.search {
  top: 80px;
  right: 1px;
  position: absolute;
  height: 200px;
  width: 200px;
  z-index: 0;
}

.hero-p {
  text-align: center;
  font-size: 18px;
  line-height: 1.1;
  color: rgba(255, 255, 255, 0.5);
  margin: 32px 66px 0 66px;
  z-index: 1;
}

.hero-form {
  display: flex;
  border: 2px solid rgba(255, 255, 255, 0.15);
  border-radius: 9999px;
  padding: 8px;
  justify-content: space-between;
  max-width: 512px;
  margin: 32px auto;
  background-color: #171717;
}

.hero-input {
  background-color: transparent;
  padding: 0 16px;
  border: none;
  font-size: 16px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  width: 100%;
}

.hero-signup {
  border: none;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  height: 40px;
  border-radius: 9999px;
  padding: 0 24px;
  font-weight: 500;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .message {
    display: none;
  }

  .search {
    display: none;
  }
}

@media (min-width: 768px) {
  .hero-h1 {
    font-size: 70px;
    line-height: 1;
  }

  .hero-p {
    font-size: 22px;
    line-height: 1.1;
  }
}

@media (min-width: 1024px) {
  .hero-h1 {
    font-size: 80px;
    line-height: 1;
  }

  .hero-p {
    font-size: 28px;
    line-height: 1.1;
  }

  .message {
    height: 270px;
    width: 270px;
  }

  .search {
    height: 270px;
    width: 270px;
  }
}
