img {
    height: 100px;
    width: auto;
}

.logo-section {
    padding: 98px 0 46px;
    overflow-x: clip;
}

.logo-h3 {
    font-size: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

.logos {
    padding-right: 96px;
    display: flex;
    gap: 96px;
}

.hero-logo {
    overflow: hidden;
    margin-top: 46px;
    -webkit-mask-image: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 1) 80%, transparent 100%);
    mask-image: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 1) 80%, transparent 100%);
}