body {
  color: white;
}

.header-match {
  padding: 96px 40px;
}

.match-container {
  margin: 0 40px;
}

.top-p {
  display: inline-flex;
  border: 2px solid rgb(141, 242, 113);
  gap: 8px;
  color: rgb(228, 255, 220);
  padding: 4px 12px;
  border-radius: 9999px;
  text-transform: uppercase;
  font-size: small;
  align-items: center;
}

.div-p {
  display: flex;
  justify-content: center;
}

.style-h2 {
  margin: 48px 20px 0 20px;
  font-weight: 500;
  color: white;
  text-align: center;
}

.style-h2 span {
  font-size: 34px;
  max-width: 772px;
  margin: 0 auto;
}

.description-p {
  font-size: 14px;
  margin-top: 16px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

.stadiums-cards {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 5rem;
}

.titles {
  background-color: #171717;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding: 32px 42px 0 42px;
}

.titles::after {
  margin: 5px;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  z-index: 10;
  outline: 2px solid rgba(255, 255, 255, 0.15);
  outline-offset: 4px;
  border-radius: 23px;
  pointer-events: none;
}

.spans {
  display: inline-flex;
  text-transform: uppercase;
  line-height: 10px;
  font-size: 14px;
  line-height: 1.25rem;
  gap: 8px;
}

.image-div {
  display: flex;
  justify-content: center;
}

.image-div img {
  border-radius: 30px 30px 0 0;
  width: 100%; /* responsivlik deyisir*/
  height: 40vw;
  margin-bottom: -1rem;
}

.title-h3 {
  font-size: 24px;
  line-height: 32px;
  margin-top: 16px;
}

.match-hr {
  border-top: 2px solid rgba(255, 255, 255, 0.15);
  margin-top: 16px;
}

hr {
  border: rgb(255, 255, 255);
}

.check-img {
  width: 20px;
  height: 20px;
  opacity: 0.6;
}

.match-ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

.match-li {
  display: flex;
  list-style: none;
  gap: 8px;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.match-button {
  margin: 32px 0;
  border: none;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  width: 100%;
  height: 40px;
  border-radius: 9999px;
  padding: 0 24px;
  font-weight: 500;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.right-arrow-2 {
  height: 18px;
  width: 18px;
}

@media (min-width: 768px) and (max-width: 1224px) {
  .style-h2 span {
    font-size: 50px;
  }

  .description-p {
    font-size: 20px;
  }

  .cards-match {
    padding: 30px;
  }

  .stadiums-cards {
    margin-top: 80px;
  }

  .titles {
    padding: 48px 52px 0 52px;
  }

  .title-h3 {
    font-size: 36px;
    margin-top: 20px;
  }

  .match-hr {
    margin-top: 20px;
  }

  .match-li {
    font-size: 16px;
  }

  .match-ul {
    margin-top: 20px;
  }

  .check-img {
    width: 24px;
    height: 24px;
  }

  .match-button{
    width: auto;
  }
}

@media (min-width: 1224px) {
  .style-h2 span {
    font-size: 60px;
  }

  .description-p {
    font-size: 23px;
  }

  .cards-match {
    padding: 50px;
  }
}
