img {
  height: 100px;
  width: auto;
}

.logo-section {
  padding: 98px 0 46px;
  overflow-x: clip;
}

.logo-h3 {
  font-size: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
}

.logos {
  display: flex;
  flex: none;
  gap: 96px;
  white-space: nowrap;
}

.hero-logo {
  display: flex;
  overflow: hidden;
  margin: 46px 100px 0;
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 1) 80%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 1) 80%,
    transparent 100%
  );
}
